profile = ocamlformat
version = 0.24.1

assignment-operator = end-line
break-before-in = fit-or-vertical
break-cases = toplevel
break-collection-expressions = fit-or-vertical
break-fun-decl = smart
break-fun-sig = smart
break-infix = wrap
break-separators = after
break-sequences = true
break-string-literals = auto
break-struct = force
cases-exp-indent = 2
doc-comments = before
exp-grouping = parens
field-space = loose
if-then-else = k-r
indicate-multiline-delimiters = space
let-and = sparse
let-binding-spacing = compact
margin = 100
module-item-spacing = sparse
parens-ite = true
parens-tuple = always
parens-tuple-patterns = always
sequence-style = terminator
space-around-arrays = false
space-around-lists = false
space-around-records = false
space-around-variants = false
type-decl = sparse
